.main-containerr {
  padding: 40px;
  color: #333;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.featured-list-container {
  width: 100%;
  height: 500px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #f8f8f8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.featured-backdrop {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
  text-align: center;
  color: #333;
  font-size: 1.5rem;

  
}

.featured-movie-title {
  background: rgba(199, 197, 197, 0.8);
  padding: 10px;
  position: absolute;
  top: 440px;
  border-radius: 30px;
  color: #333;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 10px;
  width: 100%;
  max-width: 2000px;
  margin: 5000 auto;
}

.MovieCards {
  height: 100px;
  background-color: #fff;
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cac2c2;
  font-size: 5rem;
  text-align: center;
  
}
